.bc {
  background-color: rgba(254, 249, 243, 1);
  background-image: url("../../Assets/Images/fotokemker.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.headerWrapper {
  height: calc(100vh - 58px);
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 108.5%;
  text-align: justify;
  color: #623a20;
  text-shadow: 2px 7px 8px rgba(0, 0, 0, 0.25);
}

.descWrapper {
}

.descImage {
}

.descContainer {
}

.descTitle {
}

.descContent {
}

.madeWrapper {
}

.madeTitle {
}

.madeElementWrapper {
}

.madeElementContainer {
}

.madeElementImage {
}

.madeElementTitle {
}

.madeElementContent {
}

.madeElementButton {
}
