.testContainer {
  display: flex;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.kameradContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.kamerad-container-id {
  display: flex;
}

.kamerad-container-id img {
  border-radius: 20px;
  object-fit: cover;
}

.kamerad-id {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.admin-navbar a {
  padding-right: 40px;
  text-decoration: none;
  color: rgb(9, 9, 115);
  text-align: center;
}

.admin-navbar a:hover {
  color: blue;
}

.admin-navbar {
  width: 1280px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 20px;
}
