.navelement {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  padding: 8px 50px 8px 50px;
}

.kemkerlogocontainer img {
  display: flex;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
}

.kemkerlogocontainer {
  display: flex;
  color: rgba(98, 58, 32, 1);
  font-family: poppins;
  z-index: 5;
}

.kemkerlogocontainer div {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
}

.kemkerlogocontainer div:hover {
  color: rgb(173, 111, 70);
  transition-duration: 250ms;
}

.linkcontainer {
  z-index: 6;
  text-align: center;
}

.linkcontainer a {
  padding-left: 29px;
  font-family: poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: rgba(98, 58, 32, 1);
}

.linkcontainer a:hover {
  color: rgb(173, 111, 70);
  transition-duration: 250ms;
}
