/* Basic Settings  */

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: 8px;
  scrollbar-color: #6a6a6a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

input:focus {
  outline: none;
}

/* Basic Settings End */

/* Setting up fonts */
@font-face {
  font-family: montserrat;
  src: url(./Assets/Fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: caladea;
  src: url(./Assets/Fonts/Caladea-Regular.ttf);
}
@font-face {
  font-family: opensans;
  src: url(./Assets/Fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./Assets/Fonts/Poppins-Regular.ttf);
}

/* Setting up fonts End */
